/*@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');*/
@font-face{
	font-family: luna;
	src: url("sys/Luna-Regular.otf");
}
.navbar {
	background-color:#303030;
	color: #ffffff;
	font-family: luna;
}
/* Style tab links */
.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
  }
  
  .tablink:hover {
	background-color: #666666;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
  }
  
  #Home {background-color: #777777;}
  #News {background-color: #777777;}
  #Contact {background-color: #777777;}
  #About {background-color: #777777;}